<div class="col-md-4">
  <div class="card-columns">
    <div class="card">
      <img class="card-img-top" src="holder.js/100x180/" alt="">
      <div class="card-body">
        <h4 class="card-title">Who to follow</h4>
        <p class="card-text">
          <div class="media">
            <img src="..." class="mr-3" alt="...">
            <div class="media-body">
              <p><strong>John doe</strong></p>
              <p><strong>@John</strong></p>
            </div>
          </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
          <h4 class="card-title">Who to follow</h4>
          <p class="card-text">
            <div class="media">
              <img src="..." class="mr-3" alt="...">
              <div class="media-body">
                <p><strong>John doe</strong></p>
                <p><strong>@John</strong></p>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
